 /* @media (min-width: 776px) { 
    nav{
        margin:20px;
        width:100%
    }
.nav-center{
    display: none;
}
.nav-login-button{
    visibility: hidden;
}
#hero-section .hero-heading{
    font-size: 50px;
}


 }   */